.card{
	margin: .4rem 0;
	background-color: #f2f2f2;
}
.card::after{
	content: '';
	display: block;
	clear: both;
}
.imgWra{
	width: 30%;
	min-width: 2rem;
	text-align: center;
	float: left;
}
.tag{
	padding: .1rem;
	background: #eee;
	margin: .04rem .06rem;
	margin-left: 0;
}